<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: common(main = ~{::main})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<main>
		<p>This is a Admin Home.</p>
		
		<div>
			<a th:href="@{/}" class="btn btn-primary">Public Home</a>
			<div th:replace="~{fragments/security :: signout}">
			<!-- Caused by: java.io.FileNotFoundException: Could not open ServletContext resource [/views//fragments/security.html] -->
			</div>
		</div>
	</main>
</body>
</html>