<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		th:replace="~{fragments/layout :: common(main = ~{::main})}"> 
<!-- Caused by: java.io.FileNotFoundException: Could not open ServletContext resource [/views//fragments/layout.html] -->
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<main>
		<p>This is Public Home.</p>
		
		<div>
			<a th:href="@{/admin}" class="btn btn-primary">Admin Home</a>
			<a th:href="@{/member}" class="btn btn-primary">Member Home</a>
			<a th:href="@{/customer}" class="btn btn-primary">Customer Home</a>
			<a th:href="@{/customer/address/edit}" class="btn btn-primary">Customer Address Edit</a>
			<a th:href="@{/authentication}" class="btn btn-primary">Customer Login</a>
		</div>
	</main>
</body>
</html>